<body>

  <header>
    <div class="collapse bg-dark" id="navbarHeader">

      <div class="container">

        <div class="row">

          <div class="col-sm-8 col-md-7 py-4">

            <h4 class="text-white">Sobre Mi</h4>
            <p class="text-muted">Soy un estudiante en mayor parte autodidacta con muchas ganas de seguir aprendiendo,
              comencé mi formación en el año 2021, y continuó hasta el día de la fecha.Como parte de las aptitudes
              adquiridas, fui capaz de asumir desafíos, con una alta capacidad de resolución de problemas y trabajo de
              equipo</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <div class="button">
              <a href="/login" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">INGRESAR</a>
              <a href="" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</a>

            </div>
            <h4 class="text-white">Contacto</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/roberto-zalazar/" target="_blank" class="text-white">LINKEDIN</a>
              </li>

              <li><a href="https://www.instagram.com/chizzo.10/" target="_blank" class="text-white">INSTAGRAM</a></li>
              <li><a href="https://github.com/chizzo10" target="_blank" class="text-white">GITHUB</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../../../assets/img/logo2.png" id="APLogo">
          <strong>app</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>