.row{
    background-color: #000000;
}
footer{
    color: #e1e3e9;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#qr{
    width: 100px;
}

img{
    width: 50px;
}