 
  <footer
  class="text-center text-lg-start text-white"
  style="background-color: #000000"
  >

<div class="container p-4 pb-0">

<section class="">

<div class="row">
 
 
  

  <hr class="w-100 clearfix d-md-none" />

  
  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold">Escaneame</h6>
    <p>
      <a class="text-white">Whatsapp</a>
    </p>
      <div class="qr">
      <img src="../../../assets/img/WhatsApp.jpeg" id="qr">
    </div>
  </div>
  

  <hr class="w-100 clearfix d-md-none" />

 
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
    <p><i class="fas fa-home mr-3"></i> Salta, C.P. 4400, AR</p>
    <p><i class="fas fa-envelope mr-3"></i> servicios773@gmail.com</p>
    <p><i class="fas fa-phone mr-3"></i> + 54 9 387 5855723</p>
  </div>
  

  
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
    <h6 class="text-uppercase mb-4 font-weight-bold">Seguime</h6>
    <div class="redes">
    <a href="https://www.linkedin.com/in/roberto-zalazar/" target="_blank"><img src="../../../assets/img/linkedin.png" id="linkedinr"></a>
    <a href="https://www.instagram.com/chizzo.10/" target="_blank"><img src="../../../assets/img/instagram.png" id="instagram"></a>
    <a href="https://github.com/chizzo10" target="_blank"><img src="../../../assets/img/github.png" alt="github"></a>
  </div>
  </div>
</div>

</section>

</div>



<div
 class="text-center p-3"
 style="background-color: rgba(0, 0, 0, 0.2)"
 >
© 2022 Copyright:
<a class="text-white" href="/"
 >Roberto Zalazar</a
>
</div>

</footer>
